 .blog-card {
  position: relative;


  &__label {  
    position: absolute;
    padding: 15px 20px;
    z-index: 2;

    background-color: $c-accent;
    color: white;

    top: 30px;
    right: -10px;
  }

  &__main {
    padding-top: 60px;
    border-top: solid 5px $c-accent;

    cursor: pointer;
  }

  &__main:hover> &__figure > &__img {
    transition: opacity 0.35s, transform 0.35s;
    opacity: 1;
    transform: translate3d(-40px,0,0); 
  }

  &__figure {
    background-color: #046c8c;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: calc(100% + 50px);
    opacity: .7;
    transform: translate3d(0,0,0);
    transition: opacity 0.35s, transform 0.35s;
  }

  &__title {
    margin: 1.5rem 0 2rem;
    font-size: 1.7rem;

    color: $c-accented-main;
    transition: .35s;
  }

  &__main:hover > &__title {
    color: $c-accent;  
    transition: .35s;
  }

  &__excerpt {
    color: $c-main-text;
    line-height: 2rem;

    &_accented {
      color: $c-accented-main;
      line-height: 2rem;
    }

    &_link {
      text-decoration: none;
    }

    &_link:hover {
      color: $c-accented-main;
    }

    &_underline {
      text-decoration: underline;
    }
  }
}

.blog-card-footer {
  margin-top: 4rem;

  &__cell{
    display: flex;
    justify-content: space-between;

    color: $c-main-text;

    &_colored {
      display: flex;
      justify-content: space-between;

      color: $c-accented-main;
    }
  }
}