.nav {
    

    &__item {
        margin-bottom: 25px;
        margin-right: 25px;
    }

    &__icon { 
        margin-right: 30px;
    }

    &__link {
        display: block;
        padding: 30px;

        font-size: 24px;;
        color: white;
        text-decoration: none;

        flex-shrink: 0;
        
        &_active, &:hover {
            position: relative;

            color: $c-accent;
            background-color: white;

            &::before {
                content: "";

                position: absolute;
                width: 100%;
                height: 100%;

                top: 10px;
                left: 10px;

                border: 1px solid white;
                z-index: 1;
            } 
        }
    }
}

.social-links {

    display: flex;
    padding: 30px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;

        margin-right: 15px;
        margin-bottom: 15px;

        font-size: 1.4rem;
        
        background-color: white;
    }

    &__btn {
    
    }    

    &__icon {
        color: $c-accent;
    }
}