.nav {

    &__item {
        margin-bottom: 30px;

    }

    &__link {
        display: block;
        padding: 30px;

        font-size: 24px;;
        color: white;
        text-decoration: none;

        &_active, &:hover {
            position: relative;

            color: $c-accent;
            background-color: white;

            &::before {
                content: "";

                position: absolute;
                width: 100%;
                height: 100%;

                top: 10px;
                left: 10px;

                border: 1px solid white;
            }
        }
    }

    &__icon {

    }

}