.page {
  display: flex;

  &_blog {
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__header {
    display: flex;
  }

  &__aside {
    width: 320px;
    color: white;
    background: $c-accent;

    padding-right: 2rem;
  }

  &__main {
    padding-left: 2rem;
    flex-grow: 1;
  }

  &__footer {
  }
}

.page-header {

  &__search {
    margin: 70px auto;
  }
}

.blog-content {
  &__list {}
  &__pagination {}
}

.search {
  height: 50px;
  max-width: 490px;
  width: 100%;
  display: flex;
        
  &__input {
    padding: 10px 10px;
    border: solid 1px $c-accent;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 1px 6px;
    margin-left: 25px;

    cursor: pointer;
    color: white;
    background-color: $c-accent;
    border: none;
  }

  &__icon {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
  }
}