body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: $c-accented-main;
  transition: 0.2s;
}

.page {
  display: flex;

  &__blog {
  }

  &__content {
    display: flex;

    margin-left: 500px;
    margin-right: 300px;

    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;

    font-size: 20px;
  }

  &__header {
    display: flex;
  }

  &__aside {
    position: fixed;
    width: 400px;
    height: 100vh;
    
    color: white;
    background: $c-accent;

    padding-right: 3.2rem;
  }

  &__main {
    //padding-left: 2rem;

    flex-grow: 1;
  }

  &__footer {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: solid 1px #ccc;
  
  }
}

.site {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  width: 350px;

  margin: 50px 25px 80px;
  justify-content: center;
  align-items: center;

  &__icon {
    font-size: 80px;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 40px;
  }
}

.page-header {

  &__search {
    margin: 70px auto;
  }
}

.blog-content {
  &__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
  }

  &__item {
    padding: 30px 10px;
    max-width: 450px;
    
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
}

.button__scroll {
  padding: 8px 43px;
  margin-right: 20px;

  color: #999;
  background-color: #F0F0F0;

  font-size: 20px;
  line-height: 2em;

  border: none;
  border-radius: 5px;
  
  cursor: not-allowed;

  &_active {
    padding: 8px 43px;
    margin-right: 20px;

    color: #F0F0F0;
    background-color: $c-accent;

    font-size: 20px;
    line-height: 2em;

    border: none;
    border-radius: 5px;
  }

  &_active:hover {
    background-color: $c-accented-main;
    transition: 0.2s;
    cursor: pointer;
  }
}

.button__number {
  display: flex;
}

.pagination__page {
  margin-right: 15px;
  line-height: 3em;

  color: #999;
}

.button-page {
  width: 50px;
  height: 50px;
  margin-right: 15px;

  color: #999;
  background-color: #F0F0F0;

  font-size: 20px;
  line-height: 2em;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  &_active {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  
    color: #F0F0F0;
    background-color: $c-accent;
  
    font-size: 20px;
    line-height: 2em;
  
    border: none;
    border-radius: 5px;

    cursor: pointer;
  }
}

.button-page:hover {
  color: #f0f0f0;
  background-color: $c-accent;

  transition: 0.2s;
}

.search {
  height: 50px;
  max-width: 490px;
  width: 100%;
  display: flex;
        
  &__input {
    padding: 10px 10px;
    border: solid 1px $c-accent;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 1px 6px;
    margin-left: 25px;

    cursor: pointer;
    color: white;
    background-color: $c-accent;
    border: none;
    transition: 0.3s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #09b6b6;
    }
  }

  &__icon {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
  }
}

.hr {
  height: 1px;
  margin: 20px 0;
  border: none;

  background-color: #ccc;
} 

.page-footer {
  display: flex;
  justify-content: space-between;

  color: $c-main-text;
}

.design {
  color: $c-accent;
} 