.page {
  display: flex;

  &__blog {
  }

  &__content {
    display: flex;

    margin-left: 500px;
    margin-right: 300px;

    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;

    font-size: 20px;
  }

  &__header {
    display: flex;
  }

  &__aside {
    position: fixed;
    width: 400px;
    height: 100vh;
    
    color: white;
    background: $c-accent;

    padding-right: 3.2rem;
  }

  &__main {
    //padding-left: 2rem;

    flex-grow: 1;
  }

  &__footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: solid 1px $c-main-text;
  
  }
}

.site {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  width: 350px;

  margin: 50px 25px 70px;
  justify-content: center;
  align-items: center;

  &__icon {
    font-size: 80px;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 40px;
  }
}

.page-header {

  &__search {
    margin: 70px auto;
  }
}

.blog-content {
  &__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
  }
  &__item {
    padding: 30px 10px;
    max-width: 450px;
    
  }
  &__pagination {
    margin-top: 100px;
  }
}

.search {
  height: 50px;
  max-width: 490px;
  width: 100%;
  display: flex;
        
  &__input {
    padding: 10px 10px;
    border: solid 1px $c-accent;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 1px 6px;
    margin-left: 25px;

    cursor: pointer;
    color: white;
    background-color: $c-accent;
    border: none;
    transition: 0.3s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #09b6b6;
    }
  }

  &__icon {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
  }
}